tensorflow==2.12.0
pandas
gdown # to download something from the google drive 
dvc
mlflow==2.2.2
notebook 
numpy 
matplotlib
seaborn 
python-box==6.0.2
pyYAML
tqdm # It will show the progress bar 
ensure==1.0.2
joblib
types-pyYAML
scipy
Flask
Flask-Cors
-e . 